.homePage {
    max-width: 1300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.sliderContainer {
    width: 100%;
    border-radius: 5px;
    align-self: center;
    background-color: white;
}

.dealTitle {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    align-self: flex-start;
}

.trendingTitle {
    background-color: var(--lobster-pink);
    color: white;
}

.addContainer {
    width: 100%;
    margin: 1rem;
}

.addImage {
    max-width: 1300px;
    width: 100%;
    border-radius: 20px;
}

@media screen and (min-width: 1000px) {
    .addContainer {
        display: flex;
        justify-content: space-between;
    }
    .addImage {
        max-width: 49%;
    }
}
