.homePage {
    max-width: 1300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.sliderContainer {
    width: 100%;
    border-radius: 5px;
    align-self: center;
    background-color: white;
}

.dealTitle {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    align-self: flex-start;
}

.trendingTitle {
    background-color: var(--lobster-pink);
    color: white;
}

.addContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.addContainer > img {
    max-width: 580px;
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
    flex-grow: 1;
}
