.componentContainer {
    font-size: clamp(1.4rem, calc(3vw + 1rem), 2.4rem);
}

.offScreenMenu {
    background-color: var(--deep-space-blue);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    transition: 300ms ease;
}
.offScreenMenu.active {
    right: 0;
}

.offScreenMenu > ul {
    list-style: none;
}

.offScreenMenu > ul > li {
    margin-bottom: 1rem;
}

.componentContainer nav {
    display: flex;
    padding: 1rem;
}

.hamMenu {
    width: 40px;
    height: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.hamMenu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 300ms ease;
}
.hamMenu span:nth-child(1) {
    top: 25%;
}
.hamMenu span:nth-child(3) {
    top: 75%;
}

.hamMenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamMenu.active span:nth-child(2) {
    opacity: 0;
}
.hamMenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.closeBtn {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--lobster-pink);
    color: white;
    border: none;
    font-size: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media screen and (min-width: 500px) {
    .componentContainer {
        display: none;
    }
}
