.product {
    width: 300px;
    height: 300px;
    margin: 1rem;
    padding: 0.5rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    transform: translateY(-5px);
}

.productImageContainer {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    align-self: center;
}

.productImageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productInfo .itemPrice {
    font-weight: 700;
}

.addToCart,
.removeFromCart {
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}

.addToCart {
    background: #3498db;
}
.addToCart:hover {
    background: #2980b9;
}

.removeFromCart {
    background-color: hsl(0, 81%, 57%);
}
.removeFromCart:hover {
    background-color: hsl(0, 81%, 47%);
}
