.product {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 200px;
}

.product:hover {
    transform: translateY(-5px);
}

.productImageContainer {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    align-self: center;
}

.productImageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productInfo .itemPrice {
    font-weight: 700;
}

.productInfo .addToCart {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}

.addToCart:hover {
    background: #2980b9;
}
