.categorieNav {
    background-color: var(--lobster-pink);
    width: 100%;
    display: none;
}
.categorieNav .link {
    margin-bottom: 1rem;
}
.categorieNav a {
    text-decoration: none;
    color: inherit;
}
.categorieList {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.categorieList > li {
    color: white;
    margin: 1rem;
}

@media screen and (min-width: 420px) {
    .categorieNav {
        display: block;
    }
}
