.cartPage {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    position: relative;
    font-size: clamp(1rem, calc(3vw + 1rem), 1.5rem);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.productsSection {
    width: 100%;
    flex: 1 1 0;
}

.checkoutDiv {
    background-color: white;
    border-radius: 20px;
    color: black;
    position: sticky;
    top: 1rem;
    width: 100%;
}

.checkoutInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.checkoutInfoContainer .checkoutBtn {
    width: 100%;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    font-size: inherit;
    background-color: hsl(216, 95%, 59%);
    color: white;
    cursor: pointer;
}
.checkoutInfoContainer .checkoutBtn:hover {
    background-color: hsl(216, 95%, 49%);
}
.checkoutSumaryTitle {
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.checkoutInfo {
    display: flex;
    justify-content: space-between;
}

.allProductsContainer {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.itemsContainer {
    flex: 1 1 0;
}

.cartItem {
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0 5px 5px black;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 1 0;
}
.itemImage {
    width: 100px;
    object-fit: contain;
}
.cartItem .itemInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: justify;
}
.cartItem .deleteBtn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px;
}
.cartItem .deleteBtn:hover {
    background-color: rgba(255, 0, 0, 0.5);
}
.cartItem .itemTitle {
    flex: 1;
}

.checkBtn {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@media screen and (min-width: 620px) {
    .cartItem {
        flex-direction: row;
    }
    .cartItem .itemInfoContainer {
        flex-direction: row;
    }
}

@media screen and (min-width: 866px) {
    .cartPage {
        flex-direction: row;
    }

    .checkoutDiv {
        max-width: 500px;
        flex: 1 1 0;
    }

    .cartItem {
        flex-direction: row;
    }

    .cartItem .itemInfoContainer {
        text-align: start;
        flex-direction: row;
    }

    .cartItem .itemInfoContainer > * {
        margin: 4px;
    }
}
