.componentContainer {
    display: none;
}

.list {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.list > li {
    border-bottom: 1px solid white;
    transition: 200ms ease-in;
}

.list > li:hover {
    transform: translateY(-1px);
    border-bottom: none;
}

@media screen and (min-width: 500px) {
    .componentContainer {
        display: block;
    }
}
