* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 5vw, 2.5rem);
    padding: 1rem 5%;
    background-color: black;
    color: white;
}

header a{
    text-decoration: none;
    color: inherit;
}

header .logo {
    font-size: clamp(1.4rem, 1rem + 3vw, 2.5rem);
    cursor: pointer;
}

header > .cart {
    padding: 10px;
    cursor: pointer;
}
