* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 4vw, 2rem);
    padding: 1rem 5%;
    background-color: black;
    color: white;
}

header a {
    text-decoration: none;
    color: inherit;
}

header .logo {
    font-size: clamp(1.4rem, 1rem + 3vw, 2.5rem);
    cursor: pointer;
}

header > .cart {
    padding: 10px;
    cursor: pointer;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
}

main {
    padding: 2rem;
    background-color: #f2f3f4;
    height: 100%;
}

.loading-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
