*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --deep-space-blue: hsla(207, 43%, 16%, 1);
    --dark-teal: hsla(183, 100%, 14%, 1);
    --ivory: hsla(73, 53%, 97%, 1);
    --lobster-pink: hsla(1, 73%, 63%, 1);
}

#root {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    position: relative;
    background-color: var(--deep-space-blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 4vw, 2rem);
    padding: 1rem 5%;
    background-color: var(--dark-teal);
    color: white;
}

header a {
    text-decoration: none;
    color: inherit;
}

header .logo {
    font-size: clamp(1.4rem, 1rem + 3vw, 2.5rem);
    cursor: pointer;
}

header > .cart {
    padding: 10px;
    cursor: pointer;
}
.cart-icon-container {
    position: relative;
}
header .items-on-cart {
    position: absolute;
    top: 1px;
    right: -5px;
    font-size: 18px;
}

main {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
